<h1 class='index'>Categories</h1>
<ul>
	{{#each categories}}
	<li>
		<a class='link-show-category' href="/categories/{{id}}">{{name}}</a>
		<a class='link-edit-category' href="/categories/{{id}}/edit">Edit {{name}}</a>
		<form method="POST" action="/categories/{{id}}" enctype="application/x-www-form-urlencoded">
		  <input type="hidden" name="_method" value="DELETE">
		  <button type="submit">Delete resource</button>
		</form>

	</li>
	{{/each}}
</ul>

<a class='add-category-button' href="/categories/new">Create new category</a>